<sdf version="1.7"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="joint.xacro" />

  <xacro:sun/>
  <xacro:ground_plane/>

  <xacro:property name="l" value="1"/>
  <xacro:property name="z" value="${l + 0.5}"/>


  <xacro:pendulum name="pendulum" mass="1" length="${l}" radius=".05" color="0 1 0 1">
    <pose>0 0 ${z} ${pi/4} 0 0</pose>
    <dynamics>
    </dynamics>
  </xacro:pendulum>

  <xacro:pendulum name="pendulum_1" mass="1" length="${l}" radius=".05" color="0 1 1 1">
    <pose>0.5 0 ${z} ${pi/4} 0 0</pose>
    <dynamics>
      <damping>1</damping>
      <friction>0.0</friction>
    </dynamics>
  </xacro:pendulum>

  <xacro:pendulum name="pendulum_10" mass="1" length="${l}" radius=".05" color="0 0 1 1">
    <pose>1 0 ${z} ${pi/4} 0 0</pose>
    <dynamics>
      <damping>10</damping>
      <friction>0.0</friction>
    </dynamics>
  </xacro:pendulum>

  <xacro:pendulum name="pendulum_100" mass="1" length="${l}" radius=".05" color="1 0 1 1">
    <pose>1.5 0 ${z} ${pi/4} 0 0</pose>
    <dynamics>
      <damping>100</damping>
      <friction>0.0</friction>
    </dynamics>
  </xacro:pendulum>

  <xacro:pendulum name="pendulum_1000" mass="1" length="${l}" radius=".05" color="1 0 0 1">
    <pose>2 0 ${z} ${pi/4} 0 0</pose>
    <dynamics>
      <damping>1000</damping>
      <friction>0.0</friction>
    </dynamics>
  </xacro:pendulum>

</sdf>
