<?xml version="1.0" ?>
<sdf version='1.7' 
  xmlns:xacro="http://www.ros.org/wiki/xacro">
  <world name='default'>

    <xacro:include filename="xacro/gui.xacro" />
    <xacro:ign_gui world="default" camera_pose="-2 0 3 0 0.5 0" />

    <xacro:include filename="xacro/inertia_test.xacro" />

  </world>
</sdf>
